---
layout: page
title: Home
---

<h1>Bienvenido a Yehan's Blog</h1>

<h2>Lista de Juegos</h2>
<div class="juegos-lista">
    {% for juego in site.data.juego.juegos %}
        <div class="juego-item">
            <h3>{{ juego.nombre }}</h3>
            <p><strong>Tipo:</strong> {{ juego.tipo }}</p>
            <p><strong>Empresa:</strong> {{ juego.empresa }}</p>
        </div>
    {% endfor %}
</div>

<h2>Últimos Proyectos</h2>
<div class="posts">
    {% for post in site.posts %}
        <article>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.description }}</p>
            <a href="{{ post.url }}">Leer más</a>
        </article>
    {% endfor %}
</div>
